<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Login name</string>
			<key>Key</key>
			<string>kSettingUserLoginName</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kSettingChangePassword</string>
			<key>Title</key>
			<string>Change Password</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>kSettingUserLoginOldPassword</string>
			<key>Title</key>
			<string>Old Password:</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>kSettingUserLoginNewPassword</string>
			<key>Title</key>
			<string>New Password:</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>kSettingUserLoginPasswordConfirm</string>
			<key>Title</key>
			<string>Confirm New Password:</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kSettingChangePIN</string>
			<key>Title</key>
			<string>Change PIN</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>Old PIN</string>
			<key>Key</key>
			<string>kSettingUserLoginOldPIN</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>New PIN</string>
			<key>Key</key>
			<string>kSettingUserLoginNewPIN</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>Confirm New PIN</string>
			<key>Key</key>
			<string>kSettingUserLoginPINConfirm</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
