<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Simulations</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kSettingDebugNetworkStubbed</string>
			<key>Title</key>
			<string>Stub Network</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>kSettingDebugNetworkDelay</string>
			<key>Title</key>
			<string>Network Delay</string>
			<key>Titles</key>
			<array>
				<string>0.5 seconds</string>
                <string>1.0 seconds</string>
				<string>1.5 seconds</string>
                <string>2.5 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.5</string>
				<string>1</string>
                <string>1.5</string>
                <string>2.5</string>
			</array>
			<key>DefaultValue</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kSettingDebugRejectLogin</string>
			<key>Title</key>
			<string>Reject Log In</string>
		</dict>
        
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Logging</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugLifetime</string>
			<key>Title</key>
			<string>Object Lifetime</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugNetwork</string>
			<key>Title</key>
			<string>Remote API</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugViews</string>
			<key>Title</key>
			<string>View hiearchy</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
