<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Simulations</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string>argotest</string>
			<key>Key</key>
			<string>kSettingDebugNetworkStubbed</string>
			<key>Title</key>
			<string>Network</string>
			<key>Titles</key>
			<array>
				<string>localhost</string>
                <string>Stubs</string>
				<string>Developer ArgoPay</string>
				<string>Production ArgoPay</string>
			</array>
			<key>Values</key>
			<array>
				<string>localhost</string>
                <string>file</string>
				<string>dev.argopay.com</string>
				<string>.argopay.com</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kSettingDebugSendStubData</string>
			<key>Title</key>
			<string>Send fake data</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kSettingDebugNetworkSSL</string>
			<key>Title</key>
			<string>Use SLL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>kSettingDebugLocalhostAddr</string>
			<key>Title</key>
			<string>Localhost Addr</string>
			<key>DefaultValue</key>
			<string>testingargo.192.168.1.3.xip.io</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string>0.0</string>
			<key>Key</key>
			<string>kSettingDebugNetworkDelay</string>
			<key>Title</key>
			<string>Bake Delay</string>
			<key>Titles</key>
			<array>
				<string>0.0</string>
				<string>0.5</string>
				<string>1.0</string>
				<string>2.0</string>
				<string>3.0</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.0</string>
				<string>0.5</string>
				<string>1.0</string>
				<string>2.0</string>
				<string>3.0</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>kSettingDebugStrictJSON</string>
			<key>Title</key>
			<string>Strict JSON</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Logging</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugLifetime</string>
			<key>Title</key>
			<string>Object Lifetime</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugNetwork</string>
			<key>Title</key>
			<string>Remote API</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugViews</string>
			<key>Title</key>
			<string>View hierarchy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugUser</string>
			<key>Title</key>
			<string>User</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugStartup</string>
			<key>Title</key>
			<string>Start Up</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugLocation</string>
			<key>Title</key>
			<string>Location</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugScan</string>
			<key>Title</key>
			<string>QR Scanner</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
