<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Simulations</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string>argotest</string>
			<key>Key</key>
			<string>kSettingDebugNetworkStubbed</string>
			<key>Title</key>
			<string>Network</string>
			<key>Titles</key>
			<array>
				<string>localhost</string>
				<string>Developer ArgoPay</string>
				<string>Production ArgoPay</string>
			</array>
			<key>Values</key>
			<array>
				<string>argotest</string>
				<string>dev.argopay.com</string>
				<string>.argopay.com</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kSettingDebugNetworkSSL</string>
			<key>Title</key>
			<string>Use SLL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>kSettingDebugNetworkDelay</string>
			<key>Title</key>
			<string>Network Delay</string>
			<key>Titles</key>
			<array>
				<string>0.5 seconds</string>
				<string>1.0 seconds</string>
				<string>1.5 seconds</string>
				<string>2.5 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.5</string>
				<string>1</string>
				<string>1.5</string>
				<string>2.5</string>
			</array>
			<key>DefaultValue</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kSettingDebugNetworkSimulatedFail</string>
			<key>Title</key>
			<string>Simulate Fail</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kSettingDebugNetworkUseRequestBin</string>
			<key>Title</key>
			<string>Use requestb.in</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kSettingDebugRejectLogin</string>
			<key>Title</key>
			<string>Reject Log In</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Key</key>
			<string>kSettingUserArgoPoints</string>
			<key>Title</key>
			<string>Account Argo Points</string>
			<key>DefaultValue</key>
			<string>230</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Logging</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugLifetime</string>
			<key>Title</key>
			<string>Object Lifetime</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugNetwork</string>
			<key>Title</key>
			<string>Remote API</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kDebugViews</string>
			<key>Title</key>
			<string>View hierarchy</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
