<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Use the Google Maps App for directions if it is installed.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kSettingViewAsKilometer</string>
			<key>Title</key>
			<string>View distances as kilometer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kSettingUserUseGoogleMaps</string>
			<key>Title</key>
			<string>Use Google (tm) Maps</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Frequent location updates can drain battery life faster</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kSettingFrequentGPS</string>
			<key>Title</key>
			<string>Check for location often</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
