<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Preferences</string>
			<key>Title</key>
			<string>Preferences</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Account</string>
			<key>Title</key>
			<string>Sign On/PIN</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>IASKViewControllerClass</key>
			<string>APAccountSettingsViewController</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>http://argopay.com/m/help</string>
			<key>Title</key>
			<string>Help</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>About</string>
			<key>Title</key>
			<string>About</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Debug</string>
			<key>Title</key>
			<string>Debug</string>
            <key>Key</key>
            <string>kSettingDebug</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
