ArgoPay.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ArgoPay.xcodeproj/project.xcworkspace/xcuserdata/victor.xcuserdatad/UserInterfaceState.xcuserstate
ArgoPay.xcodeproj/project.xcworkspace/xcuserdata/victor.xcuserdatad/WorkspaceSettings.xcsettings
ArgoPay.xcodeproj/xcuserdata/victor.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ArgoPay.xcodeproj/xcuserdata/victor.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
ArgoPay.xcodeproj/xcuserdata/victor.xcuserdatad/xcschemes/ArgoPay.xcscheme
ArgoPay.xcodeproj/xcuserdata/victor.xcuserdatad/xcschemes/xcschememanagement.plist
